header {
    background-color: mistyrose;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px;
    height: 8vh;
}

nav {
    display: flex;
    height: 100%;
    width: 50vw;
    justify-content: flex-end;
    align-items: baseline;
}

a {
    background-color: mistyrose;
    padding: 10px;
    border: 2px solid palevioletred;
}

img {
    width: 30px;
    border-radius: 50%;
    padding: 5px;
}